<script type="text/javascript" charset="utf-8">LifeStream.allow_infinite_scroll = false;</script>
<div id="preview">
	<p><strong>Site Preview</strong> &ndash; <%= link_to 'Return to the site admin', admin_root_path %></p>
</div>