/*
Site Name: andy-pearson.com
Version: 2.0
Author: Andy Pearson
Author URI: http://www.criticalwebdesign.co.uk
Date: 09/08/08
Time: 11:32:19
*/

body {
	font:62.5%/1.5 Helvetica, Arial, sans-serif;
	background-color:#3d3d3d;
}
h1 {
	clear:both;
	padding:130px 0 40px;
	float:left;
}
	h1 a {
		display:block;
		border:none;
		width:266px;
		height:28px;
		background:transparent url(../images/blank/andy-pearson.gif) no-repeat top left;
		text-indent:-99999px;
		overflow:hidden;
	}
h2 {
	padding:17px 0 6px 0;
	font-size:1.4em;
	font-weight:bold;
	color:#adadad;
	line-height:1.2;
}
	h2 a {
		color:#d6d6d6;
		border-bottom:none;
	}
	h2 span {
		font-size:0.8em;
		font-weight:normal;
	}
h4 {
	padding:3px;
	color:#4b4b4b;
	text-transform:uppercase;
	font-size:1em;
	line-height:1;
	font-weight:bold;
}
	h4 strong {
		display:block;
		color:#adadad;
	}
p {
	font-size:1.2em;
	color:#ebebeb;
}
a {
	text-decoration:none;
	border-bottom:1px solid #fff;
	color:#f5f5f5;
}
a:hover {
	color:#fff;
	border-bottom-color:#fff;
}
hr {
	display:none;
}
img {
	display:block;
}

/*
---- Structure
*/
#container {
	margin:0 auto;
	padding:0 0 72px 0;
	width:960px;
}
#header {
	position:fixed;
	padding:0 0 0 6px;
	width:357px;
}
#content {
	float:right;
	padding:108px 0 0 0;
	width:597px;
}

/*
---- Header
*/
#header ul {
	height:108px;
	background:transparent url(../images/blank/tab.gif) no-repeat top left;
	float:left;
}
	#header ul li {
		float:left;
		display:none;
	}
	#header ul li.active {
		display:block;
	}
		#header ul li a {
			display:block;
			width:24px;
			height:108px;
			text-indent:-99999px;
			overflow:hidden;
			border:none;
		}
#header p {
	clear:both;
	font:1.8em Georgia, serif;
	font-style:italic;
	color:#999;
	padding-bottom:25px;
	float:left;
}
	#header p span {
		padding:3px 7px;
		display:block;
		background-color:#333;
		float:left;
	}
	#header p a {
		border:none;
	}
	
/*
---- Life Stream
*/
#lifestream li {
	display:block;
	border-top:1px solid #7a7a7a;
	padding-bottom:42px;
}
	#lifestream li .header {
		float:left;
	}
	#lifestream li .content {
		float:right;
		width:420px;
	}
	#lifestream li p.date-time {
		color:#808080;
		padding:3px 6px;
		border-top:1px solid #525252;
	}

/* Last.fm */
#lifestream li.lastfm { background:transparent url(../images/album.jpg) no-repeat 183px 3px; }
#lifestream li.lastfm div.main {
	float:right;
	width:354px;
} 
#lifestream li.lastfm div.album {
	float:left;
	width:46px;
	padding:3px 0 0 6px;
}
#lifestream li.lastfm h2 {
	padding:11px 0 0 0;
}
#lifestream li.lastfm .date-time {
	border:none;
	padding:0;
}

/*
---- Colour Schemes
*/
#bleached { background-color:#ff5e1d; }


#rich { background-color:#f2e985; }

/*
---- Javascript
*/

.js_hide,
#lifestream .js_hide {
	display:none;
}

.js_show,
#header ul li.js_show {
	display:block;
}

/* ---- Clearfix */
.clearfix:after {
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
.clearfix { display:inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* End hide from IE-mac */