<% unless @items.empty? %>
	
	<ol id="lifestream">
		<% for item in @items %>
			<li class="<%= item.feed.permalink %> clearfix">
				<div class="content">
					<%= render :partial => "partials/#{item.feed.permalink}", :locals => { :item => item } %>
				</div>
				<div class="header">
					<h4><strong><%= item.feed.name %></strong> #000000</h4>
				</div>
			</li>
		<% end  %>
	</ol>
	
<% end %>