<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Andy Pearson is a web designer and developer from the UK</title>
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<%= stylesheet_path 'reset' %>" />
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<%= stylesheet_path 'screen' %>" />
	</head>
	
	<body id="www-andy-pearson-com"><div id="wrapper">
		
		<div id="container" class="clearfix">
			
			<div id="header">
				<h1 class="clearfix"><span>Andy</span> <span>Pearson</span></h1>
				<!-- <h2>Just a Web Designer and Developer from the UK, he spends his time online <a href="http://twitter.com/andypearson" title="Twitter">tweeting</a>, <a href="http://blog.criticalwebdesign.co.uk" title="blog.critical">blogging</a>, <a href="http://del.icio.us/pizzaguy234" title="del.icio.us">finding cool links</a>, <a href="http://www.flickr.com/photos/andypearson" title="Flickr">posting photos</a>, <a href="http://www.last.fm/user/pizzaguy234/" title="Last.fm">rocking out</a> and <a href="http://www.criticalwebdesign.co.uk/" title="Critical Web Design">making really rad websites</a>.</h2> -->
			</div>
			<hr />
			
			<div id="content">
				
				<%= yield %>
				
			</div>
			
		</div>
		
	</div></body>
	
</html>